.header {
    font-family: Roboto,sans-serif;
    padding: 20px 10px;
    max-height: 200px;
    height: 70px;
}

.header #xenoblade-logo {
    height: 70px;
    min-width: 100px;
}

.header a {
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    padding: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.header-links {
    float: right;
    margin-right: 1vw;
}

@media screen and (max-width: 650px) {
    .header #xenoblade-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .header a {
      background: white;
      border: 1px solid black;
      color: black;
      display: block;
      font-size: 14px;
      height: 6px;
      line-height: 6px;
      text-align: center; 
  
       }

    .header-links {
      float: none;
      margin-top: 10px;
    }
  }



