/* .articles-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
}

.articles-wrapper #article1 {
    background: white;
    color: black;
}

.articles-wrapper #article2 {
    background: grey;
    color: black;
} */