.footer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 1em;
    background: black;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;
}

.footer img {
    height: 100px;
    margin-left: 20px;
}

.footer p {
    float: right;
    padding-top: 25px;
}